<div class="container">
    <h1>Add a user</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)"><!--angular binds ngForm to every form tag, assign it to some #ref to access data out of it-->
        <div ngModelGroup="personal"><!--clubs name and age into a personal property in form data-->
            <div class="form-group">
                 <label>Name</label>
                 <input type="text" name="name" class="form-control" #userName="ngModel" [(ngModel)] ="user.personal.name" required/> <!--ngModel and #property are must for form elements-->
                 <div [hidden] ="userName.valid || userName.pristine" class="alert alert-danger"><!--assign ngModel to #property to access element data-->
                    <span>Please enter the name</span>
                 </div>
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" name="age" pattern="^[0-9]+$" class="form-control" #userAge="ngModel" [(ngModel)] ="user.personal.age" required/><!--use [ngModel] = "propertyFromComponentClass" for data binding-->
                <div *ngIf="userAge.errors && (userAge.dirty || userAge.touched)" class="alert alert-danger">
                    <div *ngIf ="userAge.errors.pattern"><span>Please enter a number</span></div>
                    <div *ngIf="userAge.errors.required"><span>Please enter the age</span></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Role</label>
            <input type="text" name="role" class="form-control" #userRole [(ngModel)] ="user.role" required/><!--use [(ngModel)] = "propertyFromComponentClass" for two-way data binding-->
        </div>
        <div class="form-group">
            <label>Hobbies</label>
            <input type="text" name="hobby" class="form-control" #userHobby [(ngModel)] ="user.hobby" required/>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
    </form>
</div>